<!DOCTYPE html>
<html lang="en">
<head>
    <title>Indego + Status Board</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:description"
          content="Keep an eye on your favorite Indego stations.">
    
    <link rel="stylesheet" href="static/normalize.css">
    <link rel="stylesheet" href="static/skeleton.css">
    <link rel="stylesheet" href="static/main.css">

<script>
  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  insertBefore(d,q)}(window,document,'script','_gs');

  _gs('GSN-556621-J');
</script>

</head>

<body>
    <header class="container">
        <h1>Indego + Status Board</h1>
        <p class="subhed">Track <a href="http://rideindego.com">Indego</a> stations in your
        <a href="http://www.panic.com/statusboard">Status Board</a></p>
    </header>

    <section class="container">
        <h3>Select your stations on the map below</h3>

        <div class="map-container">
            <div id="station-map" class="map"></div>
            <div class="station-list-container">
                <h4 class="station-list-header">Selected stations</h4>
                <p class="help">Click/tap name to remove</p>
                <ul class="station-list">
                </ul>
            </div>
        </div>
    </section>

    <section class="container button-row">
        <div class="row">
            <div class="one-half column center">
                <a id="sb-button" class="button button-primary button-lg" href="">Add to Status Board</a>
                <p><i>Make sure you're on an iPad with Status Board installed.</i></p>
                <p>Status Board screenshot:<br><img alt="Status Board screenshot" src="static/screenshot.gif"></p>
            </div>
            <div class="one-half column center">
                <a id="web-button" class="button button-lg" href="">View in browser</a>
            </div>
        </div>
    </section>

    <footer class="container">
        <p>Created by <a href="http://twitter.com/cmerrill">Curt Merrill</a><br>
        Code is on <a href="https://github.com/curtmerrill/indego-statusboard">Github</a></p>
    </footer>
</body>

<script src="static/jquery.js"></script>
<script src="static/leaflet.js"></script>
<link rel="stylesheet" href="static/leaflet.css"></script>

<script>
var map = L.map('station-map', {
    center: [39.9524047,-75.1656166],
    zoom: 13 });

L.tileLayer('http://{s}.tiles.mapbox.com/v3/curtmerrill.n5l168he/{z}/{x}/{y}.png').addTo(map);

var stations;
var selectedStations = [];
var stationList = $('ul.station-list');

$.get("https://www.rideindego.com/stations/json/", function(data) {
    stations = data['features'];
    $.each(stations, function(i, station) {
        addStationToMap(station);
    });
});

function addStationToMap(stationObj) {
    var stationMarker = L.circleMarker([stationObj.geometry.coordinates[1], stationObj.geometry.coordinates[0]], 4, {
        color: 'blue',
        fillColor: 'blue',
        fillOpacity: 1
    })
    stationMarker.kioskId = stationObj.properties.kioskId.toString();
    stationMarker.kioskName = stationObj.properties.name;
    stationMarker.on('click', clickMarker);
    stationMarker.addTo(map);
}

function clickMarker(e) {
    var kioskId = this.kioskId,
        kioskName = this.kioskName;

    if ($.inArray(kioskId, selectedStations) < 0) {
        selectStation(kioskId, kioskName);
    } else {
        removeStation(kioskId);
    }
}

function selectStation(id, name) {
    selectedStations.push(id);
    var newListItem = $('<li class="' + id + '">' + name + '</li>');
    $(newListItem).click(function() { var c = $(this).attr('class'); removeStation(c); });
    stationList.append(newListItem);
    updateUrl();
}

function removeStation(id) {
    removed = selectedStations.splice($.inArray(id, selectedStations), 1);
    $("li."+id).remove(); 
    updateUrl();
}

function updateUrl() {
    var sbBtn = $('#sb-button');
    var sbUrl = "panicboard://?url=" + "http%3A%2F%2Fbikes.scurt.me%2Ftable%3Fstations%3D" + selectedStations.join("-") + "&panel=table";
    var webBtn = $('#web-button');
    var webUrl = "/html?stations=" + selectedStations.join("-")

    sbBtn.attr('href', sbUrl);
    webBtn.attr('href', webUrl);

}

</script>



</html>
