<style>
    td.bikes,
    td.docks {
        line-height: 35px;
    }

    .bikes {
	text-align: right;
    }
    .docks {
        text-align: left;
    }
    .name {
	width: 60%;
        text-align: left;
    }
    td img {
	margin-top: -12px;
        margin-left: 1px;	
        margin-right: 1px;
    }
	
</style>
<table>
<tr>
    <th class='name'>Station</th>
    <th class='bikes'>Bikes</th>
    <th class='docks'>Docks</th>
</tr>
{% for k in kiosks %}
<tr>
    <td class='name'>{{ k.Station }}</td>
    <td class='bikes'>
        {% for i in range( k.Bikes ) %}<img width="5" height="35" src="http://bikes.scurt.me/static/bike.png">{% endfor %}
    </td>
    <td class='docks'>
        {% for i in range( k.Docks ) %}<img width="5" height="35" src="http://bikes.scurt.me/static/dock.png">{% endfor %}
    </td>
</tr>
{% endfor %}
</table>
